---
import PageHeader from '@/components/page-header.astro'
import BaseLayout from '@/layouts/base-layout.astro'
const posts = await Astro.glob('./*.md')
---

<BaseLayout>
  <PageHeader heading="blog" description="blogs coming right here..." />
  <ul class="mt-20">
    {
      posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
