---
import BlogLayout from '@/layouts/blog-layout.astro'
import { getEntry, render } from 'astro:content'

const entry = await getEntry('blog', 'post-3')
if (!entry) {
  throw new Error('Could not find blog post')
}

const { Content, headings } = await render(entry)
---

<BlogLayout frontmatter={entry.data}>
  <p>Published on: {entry.data.date}</p>
  <Content />
</BlogLayout>
