---
import BaseLayout from './base-layout.astro'
import { Image } from 'astro:assets'

const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <a href="/blog" class="text-blue-600 underline block mb-4">back to blog.</a>
  <Image
    │
    src={frontmatter.featuredImage.image}
    alt={frontmatter.featuredImage.description}
    │
    width={1024}
    │
    height={576}
    │
    class="w-full h-auto object-cover rounded-lg mb-4"
    │
  />
  <slot />
</BaseLayout>
